<a href="https://colab.research.google.com/github/MironovDenis/PyTestHW/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

1. import random
2. lst = ['robot'] * 10
3.lst += ['human'] * 10
4.random.shuffle(lst)
5.data = pd.DataFrame({'whoAmI'lst})
6.data.head()

In [19]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head(n=20)

   whoAmI
0   robot
1   robot
2   robot
3   human
4   robot
5   robot
6   human
7   human
8   robot
9   robot
10  human
11  robot
12  human
13  robot
14  human
15  human
16  robot
17  human
18  human
19  human

In [28]:
one_hot_data = pd.DataFrame({'IAmHuman':lst})

In [29]:
one_hot_data.loc[one_hot_data['IAmHuman'] == 'human', 'IAmHuman'] = 1
one_hot_data.loc[one_hot_data['IAmHuman'] == 'robot', 'IAmHuman'] = 0

In [30]:
one_hot_data.head(n=20)

   IAmHuman
0         0
1         0
2         0
3         1
4         0
5         0
6         1
7         1
8         0
9         0
10        1
11        0
12        1
13        0
14        1
15        1
16        0
17        1
18        1
19        1